/*========================= 공통 CSS =====================*/
*{
    padding: 0px; margin: 0px;
    box-sizing: border-box; font-size: 12px;
}
li{ list-style-type: none;}
a{ color: black; text-decoration: none;}


/*=======================레이아웃=========================*/
#wrap{
    width: 1280px; margin: 0 auto;
}
#header{
    height: 180px;
}
#footer{
    height: 441px;
}
/*======================== 본문 =============================*/
#main{ width: 1280px; margin: 0 auto;}
#Shead{
    display: flex; padding: 30px 0;
    gap: 10px; width: 1280px; margin: 0 auto;
}
#Sheadbox{
    display: flex; flex-direction: column;
    justify-content: space-between;
    border-radius: 21px 5px 21px 55px;
    width: 18%; padding: 22.5px 37.5px 22.5px 22.5px;
    background-color: #FED100;
}
.Shead-top{
    color: #212121; font-weight: bold;
    font-size: 21px;
}
.Shead-bottom{
    color: #212121; font-weight: bold;
    font-size: 28.125px; text-align: right;
}
.SheadContent{
    min-height: 200px;
    width: 80%;
    position: relative;
    flex: 1;
}
.SheadContent1{
    padding: 19.5px 22.5px; background-color: #f8f8f8;
    border-radius: 5px;
}
.SheadTitle{
    display: flex; justify-content: space-between;
    align-items: center;
}
.Sheadimg{color: #212121; font-size: 30px; font-weight: 500;}
#logWrap{
    flex: 1; width: 930px;
    margin: auto 150px;    
    padding-left: 210px;
}
.middleTitle>p{
    font-weight: 500; font-size: 40px;
    text-align: center; line-height: 34px;
    margin-bottom: 10px;
}
.middleTitle{padding-bottom: 50px;}
.loginTab{display: flex;}
.leftTab{
    border: 1px solid #000;
    background-color: #fff;
    border-bottom-color: #fff;
    color: #1C1B1F;
    display: inline-block; width: 397px;
    text-align: center; padding: 18px;
    cursor: pointer; font-size: 16.875px;
}
.rightTab{
    width: 397px; font-size: 16.875px;
    color: #888888; text-align: center;
    padding: 18px; background-color: #f5f5f5;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.Linput{ padding: 30px 0 0;}
.Linputbox{
    position: relative; padding: 22.5px 22.5px;
    border: 0.5px solid #79747E;
    border-radius: 4px;
    margin-bottom: 20px;    
}
.Linputbox>span{
    position: absolute;
    top: -9px; background-color: #fff;
    padding: 0 10px; color: #EFBA00;
    font-weight: 500;    
}
.Linputlnner{ display: flex; align-items: center;}
.input-icon{padding-right: 20px; width: 39px; height: 20px;}
.input-icon>img{width: 19px; height: 19px;}
.input-text{flex: 1;}
.input-text>input{
    width: 100%; height: 24px; font-weight: 400;
    font-size: 16px; line-height: 24px; display: flex;
    align-items: center; color: #1C1B1F;
    border: none; outline: none; caret-color: #EFBA00;
}
.input-pass{ width: 38px; height: 22px; padding-right: 20px;}
.inputpass>img{ width: 18px; height: 21px;}
.ID-check-box{width: 100%;}
.ID-check{
    display: flex; flex-direction: row;
    justify-content: flex-end; width: 100%;
    padding: 19px 10px 30px; align-items: center;
}
.Logincheck{
    display: flex; position: relative;
    font-weight: 400; font-size: 15px;
    line-height: 27px; letter-spacing: -0.3px;
    color: #49454F; margin-right: 15px;
}
.Logincheck>label{
    position: relative; min-height: 18px;
    padding-right: 30px; flex: 1; vertical-align: middle;
    cursor: pointer; margin: 0; word-break: break-all;
}
.Logincheck>input{
    position: absolute; top: 50%; width: 19px;
    height: 19px; border: 1px solid #EFBA00;
    z-index: 1;  opacity: 0; right: 0; margin: 0;
    transform: translateY(-50%);    
}
/*#check1::before{
    content: ""; background-color: #fff;
    border: 1px solid #EFBA00; display: inline-block;
    height: 19px; width: 19px; position: absolute;
    right: 22px; top: 3px; border-radius: 4px;
}*/
/*#check1::after{
    content: ""; width: 4px; height: 10px;
    border-right: 2px solid; border-top: 2px solid;
    background: none; position: absolute;
    display: inline-block; top: 40%; border-color: #fff;
    right: 6px;
}*/
.Logincheck input[type="checkbox"] + label:before{
    content: ""; background: #fff;
    border: 1px solid #EFBA00; display: inline-block;
    height: 19px; width: 19px; position: absolute;
    right: 0; top: 50%; border-radius: 4px; transform: translateY(-50%);
} 
.Logincheck input[type="checkbox"] + label:after{
    content: ""; width: 4px; height: 10px;
    border-right: 2px solid; border-top: 2px solid;
    background: none; position: absolute;
    display: inline-block; top: 40%; border-color: #fff;
    right: 6px; border-radius: 0;
}
.loginBTbox{display: flex;}
.loginBT{
    display: flex; justify-content: center;
    align-items: center; width: 60%; margin-right: 20px;
    padding: 14.4px 24px; background-color: #EFBA00;
    border-radius: 100px; color: #fff; font-weight: 700;
    font-size: 17.6px; cursor: pointer;
}
.joinBT{
    display: flex; justify-content: center;
    align-items: center; width: 40%;
    padding: 15px 24px; background: #fff;
    border: 1px solid #e8e8e8; border-radius: 100px;
    color: #000000; font-weight: 500;
    font-size: 17.6px; cursor: pointer;
}
.loginfind{padding: 10px 0 30px;}
.findpoint{
    display: flex; flex-direction: row;
    align-items: center; justify-content: center;
    padding: 0px; margin-top: 19px; cursor: pointer;
}
.findpoint>.find{
    font-weight: 400; font-size: 15px;
    line-height: 18px; color: #4f4f4f;
    cursor: pointer;
}
.line{
    width: 1px; height: 12px;
    margin: 0 19px; background-color: #e0e0e0;
    display: inline-block;
}
.loginLine{ border: 5px solid #f5f5f5; margin: 30px 0;}
.snslogin{ padding: 24px 32px;}
.snstitle{
    font-weight: 700; font-size: 25.6px;
    line-height: 27px; text-align: center;
    letter-spacing: -0.768px; color: #000000;
}
.snsBox{
    display: flex; justify-content: center;
    gap: 20px; padding: 30px 0 5px;    
}
.snsb-kakao{
    background-color: #fee500;
    position: relative; border-radius: 50%;
    width: 65px; height: 65px; cursor: pointer;
}
.snsb-kakao>img , .snsb-naver>img {
    width: 20px; position: absolute;
    top: 22px; left: 22px; height: 18.8px;
}
.snsb-naver{
    background-color: #03cf5d;
    position: relative; border-radius: 50%;
    width: 65px; height: 65px; cursor: pointer;
}
.snsb-apple{
    background-color: #000000;
    position: relative; border-radius: 50%;
    width: 65px; height: 65px; cursor: pointer;
}
.snsb-apple>img{
    width: 20px; position: absolute;
    top: 22px; left: 22px; height: 21px;
}
/*============================== 푸터 ==========================*/
#footerwrap{ background-color: #40362b; }
.footerBox{
    display: flex; justify-content: space-between;
    max-width: 1280px; margin: 0 auto;
    padding: 64px 0 128px;
}
.FBox1{width: 43%; display: flex; gap: 48px;}
.FBox2{width: 50%;}
.FcopyTitle{
    color: #fff; font-weight: 500;
    font-size: 11px; line-height: 14px;
    padding: 35px 15px 20px;
}
.FcopyTitle>.color{ color: #FED100;}
.LanguageTitle{
    display: flex; align-items: center;
    gap: 12.8px; color: #9f754b;
    font-size: 14.4px;
}
.tit{ font: inherit; vertical-align: baseline;}
.LanguageBtn{
    color: #fff; border: 1px solid rgba(250, 250, 250, 30%);
    border-radius: 50px; padding: 5px 15px; text-align: center;
    display: flex; cursor: pointer; justify-content: center;
    font-weight: 900; font-size: 14.4px;
}
.LanguageBtn>.line{ margin: 0 10px; position: relative; height: 20px; width: 0;}
.LanguageBtn>.line::before{
    content: ""; position: absolute;
    top: 50%; left: 0; background: rgba(250, 250, 250, 30%);
    width: 1px; height: 65%; transform: translate(-50%, -50%);
}
.FooterMenuBox{display: flex;}
.FMenuBox1{
    display: flex; flex-direction: column;
    margin-right: 20px;
}
.FMenuBox2{
    display: flex; flex-direction: column;
}
.FMenu{
    padding: 15px 10px; color: #fff;
    border-bottom: 1px solid rgba(250, 250, 250, 30%);
    cursor: pointer; font-size: 13px;
}
.FooterinfoBox{
    display: flex; flex-wrap: wrap;
    row-gap: 32px;
}
.FinfoBox{
    width: 50%; display: flex;
    align-items: flex-start; color: #fff;
}
.Finfoicon{ margin-right: 10px; margin-top: 3px;}
.Finfoicon>img{width: 20px;}
.FinfoAdss{
    display: flex; flex-direction: column;
    font-weight: 400; font-size: 15px;
    line-height: 22px; letter-spacing: 0.1px; flex: 1;
}
.MapBtn{ display: flex; padding-top: 10px;}
.MBtn{
    border: 1px solid rgba(255, 255, 255, 30%);
    border-radius: 50px; padding: 3px 15px;
    display: flex; cursor: pointer;
}
.Mtitle{
    color: #fff; font-size: 15px;
    font-weight: 900; padding: 0 10px;
}
.FinfoTel2{
    display: flex; flex-direction: column;
    padding: 12px 22px 10px; border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 30%);
}
.Ttitle{font-size: 16px; font-weight: 500; margin-bottom: 10px;}
.TelNumber{
    font-size: 30px; color: #FED100;
    font-weight: 700;
}
.FinfoCompany{
    display: flex; flex-direction: column;
    font-weight: 400; font-size: 15px;
    line-height: 22px; flex: 1;
}
.CtitleBox{ margin-bottom: 5px; letter-spacing: 0.1px; font-size: 15px;}
.CtitleBox>.Ctitle{ color: #9f754b; margin-right: 10px; font-size: 15px;}
.FinfoBox1{
    width: 50%; display: flex; flex-direction: column;
}
.FinfoCallBox{
    width: 100%; display: flex; align-items: flex-start;
    color: #fff; margin-bottom: 5px;
}
.FinfoCallCenter{
    display: flex; flex-direction: column;
    font-weight: 400; font-size: 15px; line-height: 22px;    
}
.FinfoCallCenter>.CtitleBox>.Ctitle{
    color: #9f754b; margin-right: 5px; font-size: 15px;
}
.FinfoEmail{color: #fed100; font-size: 15px;} 
.FQustion{
    border: 1px solid rgba(255, 255, 255, 30%);
    border-radius: 50px; padding: 8px 20px;
    font-size: 15px; font-weight: bold;
    margin: 10px 1.5rem 0; cursor: pointer;
}

